In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [34]:
df=pd.read_csv('sample-data.csv')

In [35]:
df.head()

,SSN,gender,birthdate,maiden name,last name,first name,address,city,state,zip,phone,email,cc_type,CCN,cc_cvc,cc_expiredate
0,172-32-1176,m,4/21/1958,Smith,White,Johnson,10932 Bigge Rd,Menlo Park,CA,94025,408 496-7223,jwhite@domain.com,m,5270-4267-6450-5516,123,2010/06/25
1,514-14-8905,f,12/22/1944,Amaker,Borden,Ashley,4469 Sherman Street,Goff,KS,66428,785-939-6046,aborden@domain.com,m,5370-4638-8881-3020,713,2011/02/01
2,213-46-8915,f,4/21/1958,Pinson,Green,Marjorie,309 63rd St. #411,Oakland,CA,94618,415 986-7020,mgreen@domain.com,v,4916-9766-5240-6147,258,2009/02/25
3,524-02-7657,m,3/25/1962,Hall,Munsch,Jerome,2183 Roy Alley,Centennial,CO,80112,303-901-6123,jmunsch@domain.com,m,5180-3807-3679-8221,612,2010/03/01
4,489-36-8350,m,1964/09/06,Porter,Aragon,Robert,3181 White Oak Drive,Kansas City,MO,66215,816-645-6936,raragon@domain.com,v,4929-3813-3266-4295,911,2011/12/01

In [49]:
df['birthdate'] =  pd.to_datetime(df['birthdate'], format="%Y/%m/%d", errors='coerce')
df['birthdate'] = df['birthdate'].astype(str)

In [50]:
df.dropna()
df.head()

,SSN,gender,birthdate,maiden name,last name,first name,address,city,state,zip,phone,email,cc_type,CCN,cc_cvc,cc_expiredate
0,172-32-1176,m,1900-01-01,Smith,White,Johnson,10932 Bigge Rd,Menlo Park,CA,94025,408 496-7223,jwhite@domain.com,m,5270-4267-6450-5516,123,2010/06/25
1,514-14-8905,f,1900-01-01,Amaker,Borden,Ashley,4469 Sherman Street,Goff,KS,66428,785-939-6046,aborden@domain.com,m,5370-4638-8881-3020,713,2011/02/01
2,213-46-8915,f,1900-01-01,Pinson,Green,Marjorie,309 63rd St. #411,Oakland,CA,94618,415 986-7020,mgreen@domain.com,v,4916-9766-5240-6147,258,2009/02/25
3,524-02-7657,m,1900-01-01,Hall,Munsch,Jerome,2183 Roy Alley,Centennial,CO,80112,303-901-6123,jmunsch@domain.com,m,5180-3807-3679-8221,612,2010/03/01
4,489-36-8350,m,1964-09-06,Porter,Aragon,Robert,3181 White Oak Drive,Kansas City,MO,66215,816-645-6936,raragon@domain.com,v,4929-3813-3266-4295,911,2011/12/01

In [51]:
from mysql.connector import connect,Error
password1='Siri1969'
try:
    conn=connect(
        host='localhost',
        port='3306',
        user='root',
        password='madhu2sai',
        database='idmp project'
    
    )
except Error as e:
    print(e)

In [54]:
cursor = conn.cursor()
table_name='Customer_Details'

# Iterate over rows and insert data into the MySQL database
for index, row in df.iterrows():
    insert_query = f"INSERT INTO {table_name} (customer_first_name, customer_last_name, phone_num,email,date_of_birth) VALUES (%s, %s, %s,%s,%s)"
    values = ( row['first name'], row['last name'],row['phone'],row['email'],row['birthdate'])
    cursor = conn.cursor()
    cursor.execute(insert_query, values)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()