In [1]:
import pandas as pd

In [8]:
from mysql.connector import connect,Error
password1='Siri1969'
try:
    conn=connect(
        host='localhost',
        port='3306',
        user='root',
        password='Siri1969',
        database='taxi_booking'
    
    )
except Error as e:
    print(e)

# adding data into Driver table

In [9]:
excel_file='driver_df.xlsx'
data = pd.read_excel(excel_file)

In [10]:
cursor = conn.cursor()
table_name='Driver'
for index, row in data.iterrows():
    query = f"INSERT INTO {table_name} ( driver_first_name, driver_last_name,working_hours,license_no,phone_num,driver_email,driver_pass,rating) VALUES (%s, %s, %s, %s, %s,%s,%s,%s)"  # Adjust column names
    values = ( row['driver_first_name'],row['driver_last_name'],row['working_hours'],row['license_no'], row['phone_num'],row['driver_email'],row['driver_pass'],row['rating'])  # Adjust column names as per your Excel columns
    cursor.execute(query, values)

conn.commit()
print("Data inserted successfully")

Data inserted successfully

# adding data into Cars_details table

In [11]:
excel_file_2='cars_df.xlsx'
data2 = pd.read_excel(excel_file_2)

In [12]:
cursor = conn.cursor()
table_name='Cab_details'
for index, row in data2.iterrows():
#     print(row)
    query = f"INSERT INTO {table_name} (licence_plate_no, model, brand, max_seats, manufacture_year, Driverdriver_id) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['licence_plate_no'], row['model'], row['brand'], row['max_seats'], row['manufacture_year'], row['Driverdriver_id'])
    
    cursor.execute(query, values)

conn.commit()
print("Data inserted successfully")

Data inserted successfully